#Proyecciones

#R="-R-14.1/33.95/10.7/43.8+r"
R="-R-2.45/3.7/37.8/40.95"  #CV Platee Carre
J="-JQ0/40/38.1c"



### Dimensiones
xsize=1920
ysize=1080
dpi=128

#Fondos
DIRFONDOS=fondos
fondomar="${DIRFONDOS}/fondomarfhd.png"
fondomar="${DIRFONDOS}/fondomar2.mp4"
fondoPNG="${DIRFONDOS}/basecvapuntcorrgris.png"

#fondoPNG="${DIRFONDOS}/basespainapuntgris.png"
fronterasPNGw="${DIRFONDOS}/fronterascvapuntbw.png"
fronterasPNGb="${DIRFONDOS}/fronterascvapuntbb.png"
fronterasPNG="${DIRFONDOS}/fronterascvapuntbw.png"


resolucion="5s"
resolucion="30s"


cubreMapa=0

cod="ES.VC"
