R=-R-2.6718/37.3/-0.296/38.8246+r # Región de Murcia
R=-R-1.6583/37.82/0.9262/40.9287+r # CV
R=-R-1.6583/37.72/4.9/40.8+r # CV

#cvapunt.png -R-2.96/4.96/37.615/41.06 -JJ25c -Xc -Yc -DjMC+w25c/12.7518224308


J="-JG-4/40.0/25c" #España
J="-JG-0.725/39.51/25c" #Comunidad Valenciana



#x=-3.3
#y=37.25
#xinc=0.5
#Rtemp=`echo ${R} | awk -v x=${x} -v y=${y} -F"/" '{print "-R"x"/"y"/"$3"/"$4}'`
#read xmax ymax < <(awk -v xinc=${xinc} 'BEGIN{print 25+xinc, 14.0625+xinc*0.5625}' | gmt mapproject ${J} ${Rtemp} -I)
#R="-R${x}/${y}/${xmax}/${ymax}+r"

#Miller
R=-R-2.96/4.96/37.615/41.06
Rgeog=-R-2.96/4.94/37.615/41.06
#Rgeog=-R-2.96/4.96/37.615/41.1
J=-JJ25c


B="-Bp10 -Bg5"
B="-Bg0"
I="-I${reliefFile}"
#I=""

Wresaltar="-W1.25p,black"
Wautonomias="-W0.5p,30/30/30"
Wprovincias="-W0.3p,60/60/60"

pintarprovincias=1
pintarautonomias=1

#codnut2="ES62"
cod="ES.VC"

#Ficheros CPT
#cptExterior="${CPT_DIR}/darkdarkgray.cpt"
#cptIntermedio="${CPT_DIR}/darkgray.cpt"
#cptGLOBE="${CPT_DIR}/gray.cpt"
#colorExterior="gray45@40"
#colorIntermedio="gray55@40"
#colorInterior="gray@70"

#Ficheros CPT
cptExterior="${CPT_DIR}/globeiconos.cpt"
cptIntermedio="${CPT_DIR}/darkgray.cpt"
cptGLOBE="${CPT_DIR}/globeiconos.cpt"
colorExterior="gray45@40"
colorIntermedio="gray55@40"
colorInterior="gray@90"

#cptExterior="gray.cpt"
#cptGLOBE="globe.cpt"

titulo="Mapa base de la Regi\363n de Murcia resaltado con relieve con mar oscuro."
titulo="Mapa de temperatura a 2 metros de de la Regi\363n de Murcia."
titulo="Mapa de viento en superficie de de la Regi\363n de Murcia con BARB."
#titulo="Mapa de temperatura a 2 metros de de la Regi\363n de Murcia con correci\363n por altitud."
#titulo="Mapa base de la peninsula ib@\351rica."

resolucion="5s"
gridGlobeFile="${GLOBE_DIR}/total2.nc"
outputFile="${OUTPUTS_DIR}/MapaBaseRegMurciaResaltado2.ps"
outputFile="${OUTPUTS_DIR}/MapaTempMurcia.ps"
outputFile="${OUTPUTS_DIR}/MapaVientoMurciaBARB2.ps"

globeFile="${GLOBE_DIR}/globe${resolucion}.grd"
reliefFile="${GLOBE_DIR}/relief${resolucion}.grd"
I="-I${reliefFile}"
altitudECMWF="altitudECMWF-${resolucion}.nc"
globeFileRegion="./GLOBE_DATA/globe${resolucion}-region.grd"
reliefFileRegion="./GLOBE_DATA/relief${resolucion}-region.grd"

mapaSatelital=1
cubreMapa=1
if [ $mapaSatelital -eq 1 ]
then
    Wresaltar="-W1.2p,white"
    #Wpaises=
    Wautonomias="-W0.5p,gray90"
    Wprovincias="-W0.3p,gray70"
fi


#h=`gmt mapproject ${J} ${R} -W | awk '{printf "%f",$2}'`
#lonmin=`echo 0 ${h} | gmt mapproject -J -R -I | awk '{printf "%.1f",$1}'`
#latmax=`echo 12.5 ${h} | gmt mapproject -J -R -I | awk '{printf "%.1f",$2+0.5}'`
#
#R=-R${lonmin}/37.3/-0.3/${latmax}+r ## Región de Murcia


