cod; start; end; tipo            ; zona   ; estilo   ; minutos; slowmotion; viento; presion; border; nstartframes; nendframes; titulo
ES ;    12;  72; acumprec        ; spain3 ; meteored2;       -;          4;      0;       0; white ;            -;         30; Precipitación acumulada
ES ;    12;  72; acumnieve       ; spain3 ; meteored2;       -;          4;      0;       0; white ;            -;         30; Nieve acumulada
ES ;    12;  72; prec+nieve+nubes; spain3 ; meteored2;      20;          -;      1;       0; white ;            -;         30; Lluvia y nieve prevista
ES ;    12; 144; gh500           ; europa3; meteored2;      60;          -;      0;       0; white ;            -;         30; Geopotencial 500hPa
ES ;    12; 144; t850            ; europa3; meteored2;      60;          -;      1;       0; black ;            -;         30; Temperatura a 850hPa
